body {
    background-image: url('../src/assets/background.jpg');  /* Adjust the path as needed */
    background-size: cover;  /* Cover the entire viewport */
    background-position: right;  /* Center the image */
    background-repeat: no-repeat;  /* Do not repeat the image */
    background-attachment: fixed;  /* Fix the background relative to the viewport */
  }
  